:root {
  --dh-primary: #71b7ea;
}

/* semantic color variables for this project */
:root {
  --color-background-primary: var(--dh-primary);
  /* --section-gap: 160px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src:
   url(./font/BeVietnamPro-Bold.ttf) format("truetype");
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: ExampleFont;
  src:
    url(/path/to/fonts/examplefont.woff) format("woff"),
    url(/path/to/fonts/examplefont.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Be Vietnam Pro', sans-serif;
}
